__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
.vscode/
.idea/

data/
datasets/
checkpoints/
experiments/
results/
runs/
logs/

*.pth
*.pt
*.ckpt
*.onnx

*.docx
*.pdf
*.zip
*.rar
*.7z

complexity_results.csv
*.log
